In [5]:
from sklearn import preprocessing
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

In [9]:
mipath = "australian.dat"
data = pd.read_csv(mipath, sep=" ",header=None)
data.columns = ["A1","A2","A3","A4","A5","A6","A7","A8","A9","A10","A11","A12","A13","A14","class"]
data.head(5)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,class
0,1,22.08,11.46,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,0,22.67,7.00,2,8,4,0.165,0,0,0,0,2,160,1,0
2,0,29.58,1.75,1,4,4,1.250,0,0,0,1,2,280,1,0
3,0,21.67,11.50,1,5,3,0.000,1,1,11,1,2,0,1,1
4,1,20.17,8.17,2,6,4,1.960,1,1,14,0,2,60,159,1

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      690 non-null    int64
 1   A2      690 non-null    float64
 2   A3      690 non-null    float64
 3   A4      690 non-null    int64
 4   A5      690 non-null    int64
 5   A6      690 non-null    int64
 6   A7      690 non-null    float64
 7   A8      690 non-null    int64
 8   A9      690 non-null    int64
 9   A10     690 non-null    int64
 10  A11     690 non-null    int64
 11  A12     690 non-null    int64
 12  A13     690 non-null    int64
 13  A14     690 non-null    int64
 14  class   690 non-null    int64
dtypes: float64(3), int64(12)
memory usage: 81.0 KB

In [15]:
#Particiones
X=data.iloc[:,:-1]#todas las lineas,todas las columnas, menos la ultima
y=data[["class"]]#solo class

In [20]:
#verificar si esta balanceado el conjunto de datos
print("Total de datos: ",y.shape[0])
print("Total de datos de la clase positiva: ",sum(y["class"]))
print("Porcentaje de datos de la clase positiva (1): %.1f%%" %(100*sum(y["class"])/y.shape[0]) )
print("Porcentaje de datos de la clase positiva (1): %.1f%%" %(100*(1-sum(y["class"])/y.shape[0])) )

Total de datos:  690
Total de datos de la clase positiva:  307
Porcentaje de datos de la clase positiva (1): 44.5%
Porcentaje de datos de la clase positiva (1): 55.5%

In [21]:
#Variables de entrenamiento y testeo
X_train,X_test,y_train,y_test = train_test_split(X, y, train_size=0.6,random_state=45)

In [23]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(414, 14)
(414, 1)
(276, 14)
(276, 1)

In [27]:
#arbol de decision
#importar libreria
from sklearn.tree import DecisionTreeClassifier
#crear instancia
dtc = DecisionTreeClassifier()
#entrenamiento
dtc.fit(X_train, y_train)
#score
dtc.score(X_test,y_test)

0.8043478260869565

Vamos a modificar los hiperparamentos
criterion: mide la calidad de la divison de cada nodo
max_depth: maxima profundidad de expansion del arbol
min_samples_split: minimo de datos en un nodo antes de hacer la division

In [30]:
#crear instancia
dtc = DecisionTreeClassifier(criterion="entropy",max_depth=15,min_samples_split=8)
#entrenamiento
dtc.fit(X_train, y_train)
#score
dtc.score(X_test,y_test)

0.8623188405797102